# Dependencies
node_modules
npm-debug.log*

# Next.js build output
.next
out

# Development
.env*.local
.env.development

# Version control
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Logs
*.log

# Test
coverage
__tests__

# Misc
README.md
